:root{
    --color-bg: linear-gradient(107.4deg, #CCCCCC 0%, #FFFFFF 100.73%);
    --main-orange:#FF8000;
    --secondary-orange: #FEA621;
    --secondary-orange-opacity:#FEA62180;
    --main-white: #FFFFFF;
    --main-black:#020202;

    --grey-1: #0A0C0D;
    --grey-2: #212529;
    --grey-3: #495057;
    --grey-4: #868E96;
    --grey-5: #DEE2E6;
    --grey-opacity-1: rgba(33, 37, 41, 0.5);

    --font-title: 'Open Sans', sans-serif;
    --font-text: 'Nunito', sans-serif;
    --title-size-1: 40px;
    --title-size-2: 28px;
    --text-size-1: 18px;
    --text-size-2: 16px;
    --text-size-3: 14px;

    --title-weight-1: 700;
    --text-weight-1: 600;
    --text-weight-2: 400;

    --border-radius-1: 8px;
    --border-radius-2: 16px;

    --shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);

}

.dark_mode:root{
    --color-bg: #1a1a1a;
    --main-white: #010e1b;
    --main-black: #DEE2E6
}