.main__container--title{
    font-family: var(--font-title);
    color: var(--main-black);
    font-size: var(--title-size-1);
    font-weight: var(--title-weight-1);
    text-transform: uppercase;
    letter-spacing:0.5rem;
    text-align: center;
}
.main__container--text{
    font-family: var(--font-text);
    color: var(--main-black);
    font-size: var(--text-size-1);
    font-weight: var(--text-weight-2);
}
.main__company--name, .main__company--description, .main__company--time{
    font-family: var(--font-text);
    font-size: var(--text-size-2);
    letter-spacing: 0;
}
.main__company--name{
    font-size: var(--title-size-2);
    font-weight: var(--text-weight-1);
}
