.main__section--title{
    font-family: var(--font-text);
    color: var(--main-black);
    font-size: var(--text-size-1);
    font-weight: var(--text-weight-1);
    text-align: center;
}
.main__container--title{
    font-family: var(--font-title);
    color: var(--main-black);
    font-size: var(--title-size-2);
    font-weight: var(--title-weight-1);
    text-align: center;
}
